html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  background: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  background: papayawhip;
}
.mask {
  width: 550px;
  height: 550px;
  background: salmon;
  overflow: hidden;
  clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
}

.bus {
  width: 550px;
  height: 550px;
}
