@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
body {
  margin: 0;
}
.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullscreen img {
  will-change: transform;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

h1 {
  will-change: transform;
  position: absolute;
  margin: 0;
  font-size: 300vw;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}

.dark h1 {
  color: #fff;
}

.dark {
  background: #000;
}

.blendImage {
  transform: scale(2);
  mix-blend-mode: darken;
}

.bg {
  transform: scale(2);
}

.effect {
  visibility: hidden;
}
